html.renderviz {
  perspective: 3000px;
  transition: perspective 1s;
}

html.renderviz body {
  transform-style: preserve-3d;
  transform: rotateY(30deg) rotateX(30deg);
}

.renderviz-trace-layer {
  transition: transform 2s, outline 0.5s;
  transform: translateZ(10px);
  transform-style: preserve-3d;
}

.renderviz-trace-focus {
  transform: rotateX(-30deg) rotateY(-30deg) translateZ(300px);
}
